@font-face {
    font-family: "icons";
    src: url("./icons.eot?378221bfe239b9996a83eecc2de1ba76#iefix") format("embedded-opentype"),
url("./icons.woff2?378221bfe239b9996a83eecc2de1ba76") format("woff2"),
url("./icons.woff?378221bfe239b9996a83eecc2de1ba76") format("woff");
}

i[class^="icon-"]:before, i[class*=" icon-"]:before {
    font-family: icons !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-application:before {
    content: "\f101";
}
.icon-avatar:before {
    content: "\f102";
}
.icon-bars:before {
    content: "\f103";
}
.icon-circle:before {
    content: "\f104";
}
.icon-close:before {
    content: "\f105";
}
.icon-config:before {
    content: "\f106";
}
.icon-down-arrow:before {
    content: "\f107";
}
.icon-filter:before {
    content: "\f108";
}
.icon-headset_mic:before {
    content: "\f109";
}
.icon-heart:before {
    content: "\f10a";
}
.icon-info:before {
    content: "\f10b";
}
.icon-preferences:before {
    content: "\f10c";
}
.icon-search:before {
    content: "\f10d";
}
.icon-user:before {
    content: "\f10e";
}
